.row
  .threecol
    %h1 Registration

  .sevencol.last
    - if @registration.errors.any?
      #error_explanation
        %h2 There was a problem with your registration:
        %ul
          - @registration.errors.full_messages.each do |msg|
            %li= msg

    = form_for(@registration, html: { id: "payment-form" }) do |f|
      .section-wrapper
        %ol
          %li= label_tag("Full Name")
          %li= f.text_field(:name)

          %li= label_tag("Email")
          %li= f.text_field(:email)

          %li= label_tag(:card_number, "Credit Card Number")
          %li= f.text_field(:card_number, size: 30, maxlength: 20)

        %table
          %tr
            %td
              %ol
                %li= label_tag(:card_cvc, "CVV")
                %li= f.text_field(:card_cvc, size: 3, maxlength: 4)

            %td{ width: 15 }

            %td
              %ol
                %li= label_tag("Expiration (MM/YYYY)")
                %li
                  = f.text_field(:card_expiry_month, size: 5, maxlength: 2)
                  = f.text_field(:card_expiry_year, size: 5, maxlength: 4)

        %ol


          %li
          = f.check_box(:agreed_to_refund_policy)
          = label_tag(:agreed_to_refund_policy, 'I agree to the Ruby Weekend refund policy')

          %li
          = f.check_box(:agreed_to_min_requirements)
          = label_tag(:agreed_to_min_requirements, 'My laptop meets the minimum requirements')

      .section-wrapper.controls
        %ol
          %li= submit_tag("Submit Registration")
