= link_to(image_tag('code_school_logo.png', class: "pull-right"), 'http://www.codeschool.com/', target: :blank)

%h1 The Ruby Weekend Challenge

%p Enjoy Ruby Weekend? Ready to take your app even further? There's a challenge for that.

%h3 Two Weeks, One Year of Code School, Your App
= link_to(image_tag('code_school_membership.png', class: "pull-right"), 'http://www.codeschool.com/', target: :blank)

%p 
  We're giving away a One Year Subscription to Code School (valued at $220). That's more than you paid to attend Ruby Weekend! A huge thanks to
  = link_to('Gregg Pollack', 'https://twitter.com/greggpollack', target: :new)
  the founder of Code School for offering this subscription.

%h1 How To Win

%p 
  Over the two weeks following ruby weekend. Improve upon the Blabber App your built during Ruby Weekend or create a new rails app. Push the code to your github account and send a link to the repo to
  = mail_to('challenge@rubyweekend.com')
  before Sunday June 2, 2013 11:59PM PT. (Yes, that is a hard deadline, don't ask for an extension.)

%p We'll review the submissions and choose winner based on who improved upon the app most impressively.

%h2 Optional: Present your app to the Las Vegas Ruby Group

%p The winner will also have the opportunity to present their app and what they learned at Ruby Weekend to members of the Las Vegas Ruby Group.

%h3 Questions?

%p
  Email
  = mail_to('dylan@rubyweekend.com', 'dylan@rubyweekend.com', subject: 'Question: Ruby Weekend Challenge')