%h1 Downloads you'll need for the workshop.

%p Please have these all downloaded before coming to Ruby Weekend. There is no need to do any setup after the download.

%h3 1. Virtual Box

%p 
  We'll be using Virtual Box this to keep everyone in the same environment.
%p 
  If you have a Mac(OS X) 
  = link_to 'Download Here', 'http://download.virtualbox.org/virtualbox/4.2.12/VirtualBox-4.2.12-84980-OSX.dmg'
%p
  If you have Windows: 
  = link_to 'Download Here', 'http://download.virtualbox.org/virtualbox/4.2.12/VirtualBox-4.2.12-84980-Win.exe'

%h3 2. The Ruby Weekend Virtual Box Image

%p
  We'll be using Virtual Box this to keep everyone in the same environment.
%p 
  = link_to 'Download Virtual Box Image', '#'
  (Need to update this link)


%h3 3. Sublime Text 2

%p 
  = link_to 'Download', 'http://www.sublimetext.com/2', target: :blank
  (Just pick your operating system)

%h3 4. Sign up for a Heroku account:

%p We'll be using Heroku to deploy our application at the end of the weekend.

%ul
  %p 
    = link_to 'Sign up Now', 'https://api.heroku.com/signup', target: :blank




