.row
  .twocol
    %h1 What

  .eightcol.last
    %p Jerky meatball flank ribeye pastrami. Cow ball tip pork chop tri-tip tenderloin, bresaola salami shank short ribs fatback chuck. Andouille salami shankle tri-tip drumstick pork chop pancetta, corned beef pig turducken tail. Pork loin pork belly flank, corned beef hamburger pig shoulder ground round andouille sirloin boudin brisket cow tenderloin shank. Cow rump tail filet mignon fatback capicola. Cow jowl short loin, pork chop swine biltong boudin leberkäse fatback ham hock bresaola. Ham pork belly venison ground round shankle.
    %br
    %h2= link_to("Register Now", @registration_url)

.row
  .twocol
    %h1 When

  .eightcol.last
    %h1 January 28th/29th 2012

.row
  .twocol
    %h1 Where

  #venue.eightcol.last
    %p
      = link_to(image_tag("/assets/venue/1_thumb.jpg", class: "photo"), "/assets/venue/1.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/2_thumb.jpg", class: "photo"), "/assets/venue/2.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/3_thumb.jpg", class: "photo"), "/assets/venue/3.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/4_thumb.jpg", class: "photo"), "/assets/venue/4.jpg", rel: "facebox")
    %p.small Photos Copyright 2010 Mike R. Manzano
    %p
      = image_tag("/assets/usrliblogo.png", align: "right")
      \/usr/lib is a community technology library, coworking hangout and meetup venue located in downtown Las Vegas on the second floor of the Emergency Arts building.

    %br

    %p
      520 E. Fremont St., Second Floor<br>
      Las Vegas, NV 89101<br>
      (702) 518-0098<br>
      %br
      %a{ href: "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=520+E.+Fremont+St.+las+vegas&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.891082,93.076172&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=520+Fremont+St,+Las+Vegas,+Clark,+Nevada+89101&amp;t=m&amp;z=14&amp;ll=36.168962,-115.139697" } View Venue on Google Maps

.row
  .twocol
    %h1 How

  .eightcol.last
    %h1{ align: "right" } Day One
    %table.schedule
      %tr
        %th 8:00 - 8:30
        %td
          %h1 Coffee and Breakfast
          %p We will be meeting downstairs at the Beat House for coffee and breakfast and hopefully to wake up.

      %tr
        %th 8:30 - 10:00
        %td
          %h1 What is Ruby and Rails?
          %p Find out why large companies like Basecamp, Twitter, Shopify and Hulu are using Ruby and Rails.

      %tr
        %th 10:00 - 11:00
        %td
          %h1 Getting Started (Setup)
          %p Here we will make sure everyones machine is ready to start developing their first Ruby application.

      %tr
        %th 11:00 - 12:00
        %td
          %h1 Data Types (String, Numbers and Arrays, Oh my!)
          %p In order to program we need to put our data into some sort of organized structure.

      %tr
        %th 12:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat House is open for lunch as well as many other great restaurants in the downtown area.

      %tr
        %th 2:00 - 3:30
        %td
          %h1 Your First Program
          %p Hello World! But hopefully we can cover a bit more ground.

      %tr
        %th 3:30 - 4:15
        %td
          %h1 Conditional Logic
          %p If, Else, Else If, When. Find out how to make your code smarter than you.

      %tr
        %th 04:15 - 05:00
        %td
          %h1 Methods
          %p Start organizing your code by putting it into smaller pieces.

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Recap + Q &amp; A
          %p The crew wll be available to answer any questions you may have that were not answered during the class.

    %br

    %h1{ align: "right" } Day Two
    %table.schedule
      %tr
        %th 8:00 - 8:30
        %td
          %h1 Coffee and Breakfast
          %p We will be meeting downstairs at the Beat House for coffee and breakfast and hopefully to wake up.

      %tr
        %th 8:30 - 9:30
        %td
          %h1 Refresher
          %p It's still early, lets get a quick recap of what we covered the day before.

      %tr
        %th 9:30 - 10:00
        %td
          %h1 Getting Started (Setup)
          %p Here we will make sure everyones machine is ready to start developing their first Rails application.

      %tr
        %th 10:00 - 11:00
        %td
          %h1 The Application, Planning
          %p We are here to build an application. What information do we need before we start hitting the keyboard to aid in our planning.

      %tr
        %th 11:00 - 11:30
        %td
          %h1 Application Generation
          %p Getting started with a Rails application couldn't be eaiser. Here we learn how to start one and what options we have available to us.

      %tr
        %th 11:30 - 12:00
        %td
          %h1 Model, View, Controller (MVC)
          %p In Rails you will hear this term over and over. Find out what they mean and how they will effect your development process.

      %tr
        %th 12:00 - 02:00
        %td
          %h1 Lunch Break
          %p The Beat House is open for lunch as well as many other great restaurants in the downtown area.

      %tr
        %th 2:00 - 5:00
        %td
          %h1 Building the Application
          %p We really get our hands dirty here and build our application from the ground up.

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Q &amp; A
          %p The crew wll be available to answer any questions you may have that were not answered during the class.
