.row
  .twocol
    %h1 What

  .eightcol.last
    %ul
      %li Have the next great idea?
      %li Found yourself in need of a technical cofounder?
      %li Burned by a developer who's over promised, under delivered?
      %li Want to know what it takes to build an app?

    %h1 Then Ruby Weekend Is For You!
    %p Ruby Weekend is an intensive two day workshop where we'll take 20 people who have no or very little software development experience and walk them through building a web application. At the end of the weekend you'll have the tools to take the next step towards building your idea.

    - unless Registration.full?
      = link_to(@registration_url, class: "register") do
        %h1 Register Today
        %p Space is very limited.
    - else
      %h1 The Workshop is Full

    %h2 How much is it?
    %p One weekend of your time and <strong>$50</strong>. It also includes a membership to #{link_to("\/usr/lib", "http://usrlib.org", :target => 'new')}, if you don't already have one. ($25 value)

    %h2 Prerequisites
    %p While you don't need programming experience, you should have some basic computer knowledge and a modern laptop (i.e. 2GB RAM, 4GB hard drive space available and WIFI capability).
    %h2 Just $50, a weekend and I can become a web developer?
    %p Ruby Weekend is a volunteer effort of the Las Vegas Ruby Group. We want to give back to the local community and believe introducing others to programing over the course of the weekend is a great way to start.
    %p The purpose of this event is to give those with an interest in startups and an inclination to learn computer programing an introduction to Ruby. While it's open to anyone who can make it to Las Vegas, we're really doing this to help #VegasTech: the $50 cost serves to ensure those who sign up are committed and will actually show up; after all, there are just 20 spots and this is a great opportunity for the right people.
    %p At the end of the weekend, we aim to give attendees the tools to continue the process of learning to becoming a web developer and ultimately build their ideas into a reality.
    
    %p Assuming this first event goes well, there will likely be more Ruby Weekends.
    
    %p If you have any questions about Ruby Weekend, just email #{mail_to("judd@rubyweekend.com", "judd@rubyweekend.com")}.
    

.row
  .twocol
    %h1 When

  .eightcol.last
    %h1.date January 28th/29th 2012

.row
  .twocol
    %h1 Where

  #venue.eightcol.last
    %p
      = link_to(image_tag("/assets/venue/1_thumb.jpg", class: "photo"), "/assets/venue/1.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/2_thumb.jpg", class: "photo"), "/assets/venue/2.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/3_thumb.jpg", class: "photo"), "/assets/venue/3.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/4_thumb.jpg", class: "photo"), "/assets/venue/4.jpg", rel: "facebox")
    %p.small Photos courtesy of Mike R. Manzano
    %p
  
      = link_to(image_tag("/assets/usrlib_logo.png", align: "right"), "http://usrlib.org", :target => 'new')
      #{link_to("\/usr/lib", "http://usrlib.org", :target => 'new')} is a community technology library, coworking hangout and meetup venue located in downtown Las Vegas on the second floor of the Emergency Arts building.

    %br

    %p
      520 E. Fremont St., Second Floor<br>
      Las Vegas, NV 89101<br>
      (702) 518-0098<br>
      %br
      %a{ href: "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=520+E.+Fremont+St.+las+vegas&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.891082,93.076172&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=520+Fremont+St,+Las+Vegas,+Clark,+Nevada+89101&amp;t=m&amp;z=14&amp;ll=36.168962,-115.139697" } View Venue on Google Maps

.row
  .twocol
    %h1 How

  .eightcol.last
    %table.schedule
      %tr
        %th.day{ colspan: 2 } Day One

      %tr
        %th 8:00 - 9:00
        %td
          %h1 Coffee, Breakfast, Registration
          %p We will be meeting downstairs at the Beat House for coffee and breakfast and hopefully to wake up.

      %tr
        %th 9:00 - 9:30
        %td
          %h1 What is Ruby and Rails?
          %p Find out why large companies like Twitter, Groupon, LivingSocial and Hulu are using Ruby and Rails.

      %tr
        %th 9:30 - 10:30
        %td
          %h1 Getting Started (Setup)
          %p Here we will make sure everyones machine is ready to start developing their first Ruby application.
      %tr
        %th 10:30 - 12:00
        %td
          %h1 Intro to Programing (First Taste)
          %p We'll establish the building blocks for creating applications that actually do something useful.

      %tr
        %th 12:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat is open for lunch as well as many other great restaurants in the downtown area. The team will also be available for questions during these two hours.

      %tr
        %th 2:00 - 3:30
        %td
          %h1 Intro to Programing (Second Helping)
          %p Using the building blocks established in part one, we'll introduce more advance concepts and build an even cooler app!

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Recap + Q &amp; A
          %p The crew wll be available to answer any questions you may have that were not answered during the class.

    %table.schedule
      %tr
        %th.day{ colspan: 2 } Day Two

      %tr
        %th 8:00 - 9:00
        %td
          %h1 Coffee and Breakfast
          %p Same as before,  we'll meet downstairs at The Beat for coffee and breakfast.

      %tr
        %th 9:00 - 9:30
        %td
          %h1 Refresher
          %p It's still early, lets get a quick recap of what we covered the day before.

      %tr
        %th 9:30 - 10:00
        %td
          %h1 Alphabet Soup Of The Web
          %p If you're going to build a web app, you're going to need to know some of the building blocks.

      %tr
        %th 10:00 - 10:30
        %td
          %h1 How Ruby on Rails Fits In
          %p Find out why the Ruby on Rails framework helps developers build applications quickly and enforces best practices.

      %tr
        %th 10:30 - 12:00
        %td
          %h1 Application Generation
          %p Getting started with a Rails application couldn't be easier. Here we learn how to start one and what options we have available.

      %tr
        %th 12:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat House is open for lunch as well as many other great restaurants in the downtown area.

      %tr
        %th 2:00 - 5:00
        %td
          %h1 Building the Application
          %p We really get our hands dirty here and build our application from the ground up.

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Q &amp; A
          %p The crew wll be available to answer any questions you may have that were not answered during the class.

.row
  .tencol.last
    #rubygroup
      %h2 Brought to you by the Las Vegas Ruby Group
      = link_to(image_tag("/assets/lvrubylogo.png", class: "logo"), "http://www.meetup.com/las-vegas-ruby-on-rails")
      %p The place to learn and share information about Ruby, the  Rails framework and related technologies in Las Vegas. We cover several different languages and tend to focus on web applications and ruby.

      %h3 Bob Firestone
      = image_tag("/assets/rubygroup/bob.jpg", class: "photo")
      %p #{link_to("@bobfirestone", "http://twitter.com/bobfirestone")}
      %p Bob joined the Las Vegas Ruby Group knowing nothing about Ruby. Now he's building web applications, presenting to the group and teaching others what he's learned. He's not afraid to express his mind and serves as the CCO of #{link_to("MainStreetChamber", "http://mainstreetchamber.org/")}. Bob loves cars and can talk it up with everyone from grease monkeys to code monkeys.

      %h3 Judd Lillestrand
      = image_tag("/assets/rubygroup/judd.jpg", class: "photo")
      %p #{link_to("@JuddLillestrand", "http://twitter.com/JuddLillestrand")} | #{link_to("vegastech.com/people/judd-lillestrand", "http://vegastech.com/people/judd-lillestrand/")}
      %p After learning to code in his spare time, Judd's wanted a community in Las Vegas to ask Ruby related questions. So he started the Las Vegas Ruby Group. While he's not the most skilled member of the group, he's been from zero development skills to to launching #{link_to("ScripSmart.com", "http://scripsmart.com")}. With the help of others, Judd has help fostered the Las Vegas Ruby Group into one of the most successful user groups in the Las Vegas Tech Community.

      %h3 Jason Arhart
      = image_tag("/assets/rubygroup/jason.jpg", class: "photo")
      %p #{link_to("@jarhart", "http://twitter.com/jarhart")} | #{link_to("vegastech.com/people/jason-arhart", "http://vegastech.com/people/jason-arhart/")}
      %p Jason loves programing; he learns new languages for fun (seriously). At last count, he was familiar with 15 languages and loves Ruby for it's simplicity. You'll know jason is on a roll when he's rubbing his hands together in front of this computer. Jason's been programming professionally for 19 years and working with Ruby for 10 years. In October of 2011 Jason joined the team at #{link_to("Originate", "http://www.originate.com/")}, Inc. to be their first engineer in Las Vegas.

      %h3 Jeremy Woertink
      = image_tag("/assets/rubygroup/jeremy.jpg", class: "photo")
      %p #{link_to("@jeremywoertink", "http://twitter.com/jeremywoertink")} | #{link_to("vegastech.com/people/jeremy-woertink", "http://vegastech.com/people/jeremy-woertink/")}
      %p One of the most vocal and friendly members of the group, Jeremy is known for digging into cutting edge technology and pushing the limits. He's been building a 3D video game in Ruby using JRuby and loves sharing what he learns with others. Jeremy also has a great sense of humor which often seeps into his presentations for the group. If you recognize Jeremy it's because you've seen him interviewing people on his show #{link_to("loveadvice.tv", "http://loveadvice.tv")}.

      %h3 Russ Smith
      = image_tag("/assets/rubygroup/russ.jpg", class: "photo")
      %p #{link_to("@cloudsplitter", "http://twitter.com/cloudsplitter")} | #{link_to("vegastech.com/people/russ-smith", "http://vegastech.com/people/russ-smith/")}
      %p Russ knows Rails inside-out, including most of the common plugins. He loves to dive into new technology in order to get the job done right. Russ is responsible for throwing the Ruby Weekend site together and has been writing code professionally for 10 years. Russ also has strong design background and crushes records in the 1983 arcade classic #{link_to("Track and Field", "http://en.wikipedia.org/wiki/Track_%26_Field_(video_game)")}.
