/ %h1= link_to('More Polls Here', vote_path, class: "register")

.row
  .twocol
    %h1 What

  .eightcol.last
    %ul
      %li Have the next great idea?
      %li Found yourself in need of a technical co-founder?
      %li Burned by a developer who's over promised, under delivered?
      %li Want to know what it takes to build an app?

    %h1 Then Ruby Weekend Is For You!
    %p Ruby Weekend is an intensive two day workshop where we'll take 20 people who have no or very little software development experience and walk them through building a web application. At the end of the weekend you'll have the tools to take the next step towards building your idea.

    - unless Registration.full?
      = link_to(@registration_url, class: "register") do
        %h1 Register Today
        %p="Only #{22 - Registration.ruby_weekend_4.size} seats remain!"
    - else
      %h1 Happening May 17th, 18th and 19th
      / %p We're almost ready to take registrations.
      /%p For now, we've gone dark. We'll announce details of the next workshop in two ways:
      %p 
        %strong Registration is now full.
      %p Please join our waitlist if there is enough interest we'll expand the class size.

      = link_to(new_waitlist_path,  class: "register") do
        %h2 Sign up for email notifications
      %h2.center or
      = link_to('http://twitter.com/#!/rubyweekend',  class: "register") do
        %h2 Follow us on twitter: @rubyweekend

    %h2 How much is it?
    %p One weekend of your time and <strong>$100</strong>.

    %h2 Hardware Requirements
    %p A modern laptop (i.e. 2GB RAM, 4GB hard drive space available and WIFI capability).
    %p
      No Netbooks. They were problematic during the first Ruby Weekend. However, if you are certain it meets the hardware requirements above, you can bring it.
      =link_to('Here is how you check your computers RAM.', 'http://windows.microsoft.com/en-US/windows-vista/Find-out-how-much-RAM-your-computer-has', :target => 'new')

    %h2 Prerequisites
    %p While you don't need programming experience, you should have some basic computer knowledge. I.e. how to save a file, point, click, drag, etc.

    %p
      Also not required, but something which will make your life easier is an understanding of HTML and CSS. Best of all it's something you can start learning before the workshop begins.
      =link_to('If you want to get the most out of the workshop, we recommend completing these lessons from tryruby.org;','http://tryruby.org/')
      it's a free service.

    %h2 Just $100, a weekend and I can become a web developer?
    %p
      Ruby Weekend is a volunteer effort of the
      =link_to('Las Vegas Ruby Group.', 'http://www.meetup.com/las-vegas-ruby-on-rails/', :target => 'new')
      We believe introducing others to programing over the course of the weekend is a great way to to give back to the local community.
    %p= "The purpose of this event is to give those with an interest in startups and an inclination to learn computer programing an introduction to Ruby and the Rails framework. While it's open to anyone who can make it to Las Vegas, we're really doing this to help #{link_to('#VegasTech', 'http://news.lvrug.org/', target: 'new') } grow it's developer base. The $100 cost serves to ensure those who sign up are committed and will actually show up; after all, there are just 20 spots and this is a great opportunity for the right people.".html_safe
    %p At the end of the weekend, we aim to give attendees the tools to continue the process of learning to becoming a web developer and ultimately build their ideas into a reality.

    %p
      This is the fourth Ruby Weekend.
      =link_to('Here is a recap of the first event.', 'http://vegastech.com/ruby-weekend-a-recap/', :target => 'new' )

    %p If you have any questions about Ruby Weekend, just email #{ mail_to "dylan@rubyweekend.com", "dylan@rubyweekend.com", :cc => "dylan@rubyweekend.com", :subject => "rubyweekend questions" }.

.row
  .twocol
    %h1 When

  .eightcol.last
    %h1.date May 17th, 18th & 19th

.row
  .twocol
    %h1 Where

  #venue.eightcol.last
    %h1.date The InNEVation Center

    %p
      = link_to(image_tag("/assets/venue/rw_1c_thumb.jpg", class: "photo"), "/assets/venue/rw_1c.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/rw_1b_thumb.jpg", class: "photo"), "/assets/venue/rw_1b.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/rw_1a_thumb.jpg", class: "photo"), "/assets/venue/rw_1a.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/rw_1d_thumb.jpg", class: "photo"), "/assets/venue/rw_1d.jpg", rel: "facebox")

    %p.small Photos of the first Ruby Weekend at usr/lib
    %p

      = link_to(image_tag("/assets/innevation_center_logo_switch.jpg", align: "right"), "http://www.switchnap.com/pages/all-things-switch/switch-innevation.php", :target => 'new')
      #{link_to("The InNEVation Center", "http://www.switchnap.com/pages/all-things-switch/switch-innevation.php", :target => 'new')} is a collaborative environment focused on diversifying Nevada's economy. Operated by Switch, The InNEVation Center helps entrepreneurs with: incubation, coworking, mentoring, networking and funding.


      //usr/lib is a community technology library, co-working hangout and meetup venue located in downtown Las Vegas on the second floor of the Emergency Arts building.

    %br

    %p
      6795 Edmond Street (3rd Floor)<br>
      Las Vegas, 89118<br>
      (702) 518-0098<br>
      %br
      = link_to( 'View Venue on Google Maps', "http://goo.gl/maps/keILf", target: 'new')

.row
  .twocol
    %h1 How

  .eightcol.last
    %table.schedule
      %tr
        %th.day{ colspan: 2 } Friday Night (Optional)
        <a name="agenda"></a>
      %tr
        %th 6:00 pm - 9:00
        %td
          %h1 Meet Instructors & Set up
          %p Explore the InNEVation Center & get help setting up your computer.
      %th.day{ colspan: 2 } Saturday
      %tr
        %th 8:30 am - 9:00
        %td
          %h1 Coffee, Breakfast, Registration
          %p We will be meeting over coffee and breakfast.

      %tr
        %th 9:00 - 10:00
        %td
          %h1 System Setup - Jeremy
          %p Getting your system ready for the weekend

      %tr
        %th 10:00 - 10:30
        %td
          %h1 Intro to Programming - Jeremy
          %p Learning what programming is.
          
      %tr
        %th 10:30 - 10:45
        %td
          %h1 Break
          %p Use potty and stretch

      %tr
        %th 10:45 - 1:00
        %td
          %h1 Learning Ruby - Jeremy
          %p Writing ruby and learning ruby basics.

      %tr
        %th 1:00 - 2:00
        %td
          %h1 Lunch Break
          %p We'll provide lunch for you.

      %tr
        %th 2:00 - 3:30
        %td
          %h1 Intro to Rails - Fred
          %p High level overview of how programming for the web works, and how Rails makes it better.

      %tr
        %th 3:30 - 3:45
        %td
          %h1 Break
          %p Use the potty or get candy
      %tr
        %th 3:45 - 5:00
        %td
          %h1 A demo Rails app - Fred
          %p We'll fire up a demo app to see Rails in action.

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Recap and challenges - Fred
          %p We'll take a look back at what we've covered so far and do some programming challenges.
          

    %table.schedule
      %tr
        %th.day{ colspan: 2 } Sunday

      %tr
        %th 9:00 - 9:15
        %td
          %h1 Coffee, Breakfast, Registration
          %p We'll have coffee and stuff.

      %tr
        %th 9:15 - 9:45
        %td
          %h1 Refresher - Fred
          %p Take a look back at day 1 and do some Q&A.

      %tr
        %th 9:45 - 10:30
        %td
          %h1 Starting the Blabber app - Fred
          %p We're going to start creating a simple Twitter clone called Blabber.

      %tr
        %th 10:30 - 10:45
        %td
          %h1 Break
          %p Use the potty or get coffee

      %tr
        %th 10:45 - 1:00
        %td
          %h1 The user model, authentication, and Heroku - Fred
          %p Get user signup and signin working, and get the app live on Heroku.

      %tr
        %th 1:00 - 2:00
        %td
          %h1 Lunch Break
          %p We'll provide lunch for you.

      %tr
        %th 2:00 - 5:00
        %td
          %h1 The Blab model, gravatars, and search - Jeremy
          %p Building the main content object of the app and adding some cool features and gems.             

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Polishing, Wrap up, and a surprise - Jeremy
          %p Applying some finishing touches, recap, and details of the surprise announcmeent.
          
.row
  .tencol.last
    #rubygroup
      %h2 Brought to you by the Las Vegas Ruby Group (@LVRUG)
      = link_to(image_tag("/assets/lvrug_logo_2012.png", class: "logo"), "http://www.meetup.com/las-vegas-ruby-on-rails")
      %p This workshop is a volunteer event brought to you by members of The Las Vegas Ruby Group (@LVRUG).

      %p @LVRUG is place to learn and share knowledge of Ruby, the  Rails framework and related technologies in Las Vegas. We cover several different languages and tend to focus on web applications and ruby.

      <a name="volunteers"></a>

      %h3 Jeremy Woertink - Presenter
      = image_tag("/assets/rubygroup/jeremy.jpg", class: "photo")
      %p= link_to("@jeremywoertink", "http://twitter.com/jeremywoertink")
      %p One of the most vocal and friendly members of the group, Jeremy is known for digging into cutting edge technology and pushing the limits. He's been building a 3D video game in Ruby using JRuby and loves sharing what he learns with others. Jeremy also has a great sense of humor which often seeps into his presentations for the group. If you recognize Jeremy it's because you've seen him interviewing people on his show #{link_to("loveadvice.tv", "http://loveadvice.tv")}.
      %br
      %h3 Fred Guest - Presenter
      = image_tag("/assets/rubygroup/fred_guest.jpg", class: "photo")
      %p= link_to "@fredguest", "http://twitter.com/fredguest"
      %p Fred began learning programming at the first Ruby Weekend in Feb 2012 with no prior experience. Since then he has solo coded several Rails apps, including two for Zappos "Tech University" and his own startup project.
      %br
      %h3 Dylan Simpson - Lead Organizer, Tech Support
      = image_tag("/assets/rubygroup/dylan_simpson.png", class: "photo")
      %p= link_to "@dylansimpson", "http://twitter.com/dylansimpson"
      %p Dylan attended the first Ruby Weekend, volunteered for the second and third. This time he has decided to organize the event. A rather talkative guy, he has an uncanny ability to remember facts and details. When Snopes.com needs to check a crazy fact, they call Dylan.
      %br
      %h3 Jason Arhart - Tech Support
      = image_tag("/assets/rubygroup/jason.jpg", class: "photo")
      %p= link_to "@jarhart", "http://twitter.com/jarhart"
      /%p Jason loves programing; he learns new languages for fun (seriously). At last count, he was familiar with 15 languages and loves Ruby for it's simplicity. You'll know Jason is on a roll when he's rubbing his hands together in front of this computer. Jason's been programming professionally for 19 years and working with Ruby for 10 years. In October of 2011 Jason joined the team at #{link_to("Originate", "http://www.originate.com/")}, Inc. to be their first engineer in Las Vegas.
      %p Jason is a highly skilled developer who loves his craft. He is an engineer with #{ link_to('Originate', 'http://www.originate.com/')} and has been a part of the team who has won "Crowd Favorite" at the past two Startup Weekends in Las Vegas. Most recently his own creation,  #{ link_to('Honey-do Simple', 'http://www.honeydosimple.com/')}.
      %br
      %h3 Judd Lillestrand - Emeritus Organizer, Tech Support
      = image_tag("/assets/rubygroup/judd.jpg", class: "photo")
      %p= link_to("@JuddLillestrand", "http://twitter.com/JuddLillestrand")
      %p Judd led the charge of the first three Ruby Weekends. He'll be supporting Dylan and helping him put on another successful event. Judd has been referred to as the 'benevolent dictator' of the Las Vegas Ruby Group. He's also the Founder of #{ link_to('ScripSmart', 'http://www.scripsmart.com/')} which has developed the rating systems for gift cards.
      %br
      %h3 Russ Smith - Designer, Designated Driver
      = image_tag("/assets/rubygroup/russ.jpg", class: "photo")
      %p #{link_to("@cloudsplitter", "http://twitter.com/cloudsplitter")}
      %p Russ knows Rails inside-out. He loves to dive into new technology in order to get the job done right and can do it at an impressive speed. He's a rare breed: an awesome software developer and designer.
      %br
      %h3 Don Cramer - Tech Support
      = image_tag("/assets/rubygroup/don_cramer.jpg", class: "photo")
      %p= link_to "@scuderialv", "http://twitter.com/scuderialv"
      %p Don was also at the first and second Ruby Weekend. He's the man behind #{link_to("Rocket36 Dev Studio", "http://www.rocket36.com/")}. If you need to increase your web presence, Don can help.
      %br
      %h3 Brian Hughes - Tech Support
      = image_tag("/assets/rubygroup/brian.jpg", class: "photo")
      %p= link_to "@brianvhughes", "http://twitter.com/brianvhughes"
      %p Brian is brand new to the Las Vegas area (just 3 months) and LVRUG, however, he brings with him nearly 8 years of Ruby and Rails programming experience, along with 20+ years as a professional software developer, mentor, teacher and team leader. He's extremely passionate about the craft of software development (aka. the art over the science) and enjoys almost any opportunity to share that passion. This is Brian's first Ruby Weekend, but given his track record of presenting at LVRUG meetings, and assisting at Hack Nights, we expect great things from him.
      %br
      %h3 David Grayson - Tech Support
      = image_tag("/assets/rubygroup/david.jpg", class: "photo")
      %p= link_to "@DavidEGrayson", "http://twitter.com/DavidEGrayson"
      %p David started using Ruby on Rails in 2006.  Now he is an engineer at Pololu Robotics & Electronics where he develops all sorts of software.  He has been a regular attendee and presenter at LVRUG for over a year.  David says "I like to know all of the tools and methods available to me and use that knowledge to write short, elegant code.  I like to find weird bugs and report them.  I like teaching technical things to smart people.
      %br
      %h3 Ryan Mulligan - Tech Support
      = image_tag("/assets/rubygroup/ryan.jpg", class: "photo")
      %p= link_to "@ryantm", "http://twitter.com/ryantm"
      %p Ryan has been using Ruby and Rails since 2006. He is a electrical and software engineer at Pololu Robotics and Electronics.
      %br
      %h3 Gabriel Evans - Tech Support
      = image_tag("/assets/rubygroup/gabe.png", class: "photo")
      %p= link_to "@GabeEvans", "http://twitter.com/GabeEvans"
      %p Gabriel's interest in programming started when he was in 2nd grade. His interest in wearing skinny jeans didn't develop until high school. He loves discussions about semantics, system administration, and usability. He's always more than happy to help if you ever have any questions or just need someone to talk out a problem with. Chances are you've already met him that one time at that thing.
      %br
      %h3 Nick Shook - Planning Assistance
      = image_tag("/assets/rubygroup/nick.jpg", class: "photo")
      %p= link_to "@shicholas", "http://twitter.com/shicholas"
      %p Nick got into programming a couple years ago when he realized that being a lawyer wasn't for him. Thanks to the Ruby Group, Nick now works as a software developer for #{link_to("Veribuy", "http://beta.veribuy.com")}. 
      %br
      %h3 Alex Peachey - Planning Assistance
      = image_tag("/assets/rubygroup/alex.png", class: "photo")
      %p= link_to "@alex_peachey", "http://twitter.com/alex_peachey"
      %p Alex is the new kid on the block when it comes to Ruby Weekend, but not when is comes to writing excellent code. This will be his first event, he's gives some of the best presentations for the Las Vegas Ruby Group and is the founder of #{link_to("Threadbias.com", "http://www.threadbias.com")} a leading online sewing community.
      %br
      %h3 Bob Firestone - Emeritus Presenter
      = image_tag("/assets/rubygroup/bob.jpg", class: "photo")
      %p= link_to "@bobfirestone", "http://twitter.com/bobfirestone"
      %p Bob joined the Las Vegas Ruby Group knowing nothing about Ruby. Now he's building web applications, presenting to the group and teaching others what he's learned. He's not afraid to express his mind and can talk it up with everyone from grease monkeys to code monkeys.

      / %h3 Mike Ball - Tech Support
      / %p= link_to "@mhball", "http://twitter.com/mhball"

      / %p A tech junkie, he's a .NET developer who comes to the Las Vegas Ruby Meetup to get his fix. Mike helped out at the first Ruby Weekend and he's ready to give back again. He's is a huge developer advocate: just ask him. Mike's our "Windows Guy".
    / - unless Registration.full?
    /   = link_to(@registration_url, class: "register") do
    /     %h1 Register Today
    /     %p="Only #{20 - Registration.ruby_weekend_2.size} seats remain!"
    / - else
    /   = link_to(new_waitlist_path,  class: "register") do
    /     %h1 We're almost ready. :)
    /     %p Sign up for our notification list and we'll send you an email when the workshop opens for registration.
