.row
  .twocol
    %h1 What

  .eightcol.last
    %p Jerky meatball flank ribeye pastrami. Cow ball tip pork chop tri-tip tenderloin, bresaola salami shank short ribs fatback chuck. Andouille salami shankle tri-tip drumstick pork chop pancetta, corned beef pig turducken tail. Pork loin pork belly flank, corned beef hamburger pig shoulder ground round andouille sirloin boudin brisket cow tenderloin shank. Cow rump tail filet mignon fatback capicola. Cow jowl short loin, pork chop swine biltong boudin leberkäse fatback ham hock bresaola. Ham pork belly venison ground round shankle.
    %br
    %h2= link_to("Register Now", @registration_url)

.row
  .twocol
    %h1 When

  .eightcol.last
    %h1 January 28th/29th 2012

.row
  .twocol
    %h1 Where

  #venue.eightcol.last
    %p
      = link_to(image_tag("/assets/venue/1_thumb.jpg", class: "photo"), "/assets/venue/1.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/2_thumb.jpg", class: "photo"), "/assets/venue/2.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/3_thumb.jpg", class: "photo"), "/assets/venue/3.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/4_thumb.jpg", class: "photo"), "/assets/venue/4.jpg", rel: "facebox")
    %p.small Photos Copyright 2010 Mike R. Manzano
    %p
      = image_tag("/assets/usrliblogo.png", align: "right")
      \/usr/lib is a community technology library, coworking hangout and meetup venue located in downtown Las Vegas on the second floor of the Emergency Arts building.

    %br

    %p
      520 E. Fremont St., Second Floor<br>
      Las Vegas, NV 89101<br>
      (702) 518-0098<br>
      %br
      %a{ href: "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=520+E.+Fremont+St.+las+vegas&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.891082,93.076172&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=520+Fremont+St,+Las+Vegas,+Clark,+Nevada+89101&amp;t=m&amp;z=14&amp;ll=36.168962,-115.139697" } View Venue on Google Maps

.row
  .twocol
    %h1 How

  .eightcol.last
    %h1{ align: "right" } Day One
    %table.schedule
      %tr
        %th 9:00-10:00
        %td.title Registration

      %tr
        %th 10:00-11:00
        %td
          %h2 What is Programming?
          %p Jerky meatball flank ribeye pastrami. Cow ball tip pork chop tri-tip tenderloin, bresaola salami shank short ribs fatback chuck. Andouille salami shankle tri-tip drumstick pork chop pancetta, corned beef pig turducken tail. Pork loin pork belly flank, corned beef hamburger pig shoulder ground round andouille sirloin boudin brisket cow tenderloin shank. Cow rump tail filet mignon fatback capicola. Cow jowl short loin, pork chop swine biltong boudin leberkäse fatback ham hock bresaola. Ham pork belly venison ground round shankle.

      %tr
        %th 11:00-12:00
        %td
          %h2 Intro to Ruby
          %p Jerky meatball flank ribeye pastrami. Cow ball tip pork chop tri-tip tenderloin, bresaola salami shank short ribs fatback chuck. Andouille salami shankle tri-tip drumstick pork chop pancetta, corned beef pig turducken tail. Pork loin pork belly flank, corned beef hamburger pig shoulder ground round andouille sirloin boudin brisket cow tenderloin shank. Cow rump tail filet mignon fatback capicola. Cow jowl short loin, pork chop swine biltong boudin leberkäse fatback ham hock bresaola. Ham pork belly venison ground round shankle.

      %tr
        %th 12:00-1:00
        %td.title Lunch

    %br

    %h1{ align: "right" } Day Two
    %table.schedule
      %tr
        %th 9:00-10:00
        %td.title Registration

      %tr
        %th 10:00-11:00
        %td
          %h2 What is Programming?
          %p Jerky meatball flank ribeye pastrami. Cow ball tip pork chop tri-tip tenderloin, bresaola salami shank short ribs fatback chuck. Andouille salami shankle tri-tip drumstick pork chop pancetta, corned beef pig turducken tail. Pork loin pork belly flank, corned beef hamburger pig shoulder ground round andouille sirloin boudin brisket cow tenderloin shank. Cow rump tail filet mignon fatback capicola. Cow jowl short loin, pork chop swine biltong boudin leberkäse fatback ham hock bresaola. Ham pork belly venison ground round shankle.

      %tr
        %th 11:00-12:00
        %td
          %h2 Intro to Ruby
          %p Jerky meatball flank ribeye pastrami. Cow ball tip pork chop tri-tip tenderloin, bresaola salami shank short ribs fatback chuck. Andouille salami shankle tri-tip drumstick pork chop pancetta, corned beef pig turducken tail. Pork loin pork belly flank, corned beef hamburger pig shoulder ground round andouille sirloin boudin brisket cow tenderloin shank. Cow rump tail filet mignon fatback capicola. Cow jowl short loin, pork chop swine biltong boudin leberkäse fatback ham hock bresaola. Ham pork belly venison ground round shankle.

      %tr
        %th 12:00-1:00
        %td.title Lunch
