.row
  .twocol
    %h1 What

  .eightcol.last
    %ul
      %li Have the next great idea?
      %li Found yourself in need of a technical co-founder?
      %li Burned by a developer who's over promised, under delivered?
      %li Want to know what it takes to build an app?

    %h1 Then Ruby Weekend Is For You!
    %p Ruby Weekend is an intensive two day workshop where we'll take 20 people who have no or very little software development experience and walk them through building a web application. At the end of the weekend you'll have the tools to take the next step towards building your idea.

    - unless Registration.full?
      = link_to(@registration_url, class: "register") do
        %h1 Register Today
        %p="Only #{20 - Registration.ruby_weekend_2.size} seats remain!"
    - else
      %h1 Coming again late Summer 2012
      %p For now, we've gone dark. We'll announce details of the next workshop in two ways:

      = link_to(new_waitlist_path,  class: "register") do
        %h2 Sign up for email notifications
      %h2.center or
      = link_to('http://twitter.com/#!/rubyweekend',  class: "register") do
        %h2 Follow us on twitter: @rubyweekend

    %h2 How much is it?
    %p One weekend of your time and <strong>$100</strong>.

    %h2 Hardware Requirements
    %p A modern laptop (i.e. 2GB RAM, 4GB hard drive space available and WIFI capability).
    %p
      No Netbooks. They were problematic during the first Ruby Weekend. However, if you are certain it meets the hardware requirements above, you can bring it.
      =link_to('Here is how you check your computers RAM.', 'http://windows.microsoft.com/en-US/windows-vista/Find-out-how-much-RAM-your-computer-has', :target => 'new')

    %h2 Prerequisites
    %p While you don't need programming experience, you should have some basic computer knowledge. I.e. how to save a file, point, click, drag, etc.

    %p
      Also not required, but something which will make your life easier is an understanding of HTML and CSS. Best of all it's something you can start learning before the workshop begins.
      =link_to('We recommend completing these lessons from Codecademy;','http://www.codecademy.com/languages/web/topics/html-overview')
      it's a free service.

    %h2 Just $100, a weekend and I can become a web developer?
    %p
      Ruby Weekend is a volunteer effort of the
      =link_to('Las Vegas Ruby Group.', 'http://www.meetup.com/las-vegas-ruby-on-rails/', :target => 'new')
      We believe introducing others to programing over the course of the weekend is a great way to to give back to the local community.
    %p The purpose of this event is to give those with an interest in startups and an inclination to learn computer programing an introduction to Ruby and the Rails framework. While it's open to anyone who can make it to Las Vegas, we're really doing this to help #VegasTech grow it's developer base. The $100 cost serves to ensure those who sign up are committed and will actually show up; after all, there are just 20 spots and this is a great opportunity for the right people.
    %p At the end of the weekend, we aim to give attendees the tools to continue the process of learning to becoming a web developer and ultimately build their ideas into a reality.

    %p
      This is the second Ruby Weekend.
      =link_to('Here is a recap of the first event.', 'http://vegastech.com/ruby-weekend-a-recap/', :target => 'new' )

    %p If you have any questions about Ruby Weekend, just email #{mail_to("judd@rubyweekend.com", "judd@rubyweekend.com")}.


.row
  .twocol
    %h1 When

  .eightcol.last
    %h1.date Late Summer 2012

.row
  .twocol
    %h1 Where

  #venue.eightcol.last
    %h1.date /usr/lib

    %p
      = link_to(image_tag("/assets/venue/rw_1c_thumb.jpg", class: "photo"), "/assets/venue/rw_1c.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/rw_1b_thumb.jpg", class: "photo"), "/assets/venue/rw_1b.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/rw_1a_thumb.jpg", class: "photo"), "/assets/venue/rw_1a.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/rw_1d_thumb.jpg", class: "photo"), "/assets/venue/rw_1d.jpg", rel: "facebox")

    %p.small Photos of the first Ruby Weekend at usr/lib
    %p

      = link_to(image_tag("/assets/usrlib_logo.png", align: "right"), "http://usrlib.org", :target => 'new')
      #{link_to("\/usr/lib", "http://usrlib.org", :target => 'new')} is a community technology library, co-working hangout and meetup venue located in downtown Las Vegas on the second floor of the Emergency Arts building.

    %br

    %p
      520 E. Fremont St., Second Floor<br>
      Las Vegas, NV 89101<br>
      (702) 518-0098<br>
      %br
      %a{ href: "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=520+E.+Fremont+St.+las+vegas&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.891082,93.076172&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=520+Fremont+St,+Las+Vegas,+Clark,+Nevada+89101&amp;t=m&amp;z=14&amp;ll=36.168962,-115.139697" } View Venue on Google Maps

.row
  .twocol
    %h1 How

  .eightcol.last
    %table.schedule
      %tr
        %th.day{ colspan: 2 } Day One
      <a name="agenda"></a>
      %tr
        %th 9:00 - 9:30
        %td
          %h1 Coffee, Breakfast, Registration
          %p We will be meeting downstairs at the Beat House for coffee and breakfast and hopefully to wake up.

      %tr
        %th 9:30 - 9:45
        %td
          %h1 What is Ruby and Rails? - Jeremy
          %p Find out why startups love Ruby on Rails and how it can help you deliver business value faster.
          /just Jeremy talking

      %tr
        %th 9:45 - 10:30
        %td
          %h1 Getting Started (Setup)
          %p Here we will make sure everyones machine is ready to start developing their first Ruby application.

      %tr
        %th 10:30 - 10:45
        %td
          %h1 Break
          %p Use the potty or get coffee

      %tr
        %th 10:45 - 1:00
        %td
          %h1 Intro to Programing (First Taste) - Bob
          %p We'll establish the building blocks for creating applications that actually do something useful.
          /data types, variables, arrays, if statements, conditionals and blocks, .rb files, irb, running a ruby file

      %tr
        %th 1:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat is open for lunch as well as many other great restaurants in the downtown area. The team will also be available for questions.

      %tr
        %th 2:00 - 3:30
        %td
          %h1 Intro to Programing (Second Helping) - Jeremy
          %p Using the building blocks established in part one, we'll introduce more advance concepts and lay the ground work for understand the rails framework.
          /classes, methods, iteration(.each), Jeremy's people app

      %tr
        %th 3:30 - 3:45
        %td
          %h1 Break
          %p Use the potty or get candy
      %tr
        %th 3:45 - 5:00
        %td
          %h1 The Ruby Workout - Jeremy
          %p Writing code is awesome. We'll put you though the paces and train your brain on the stuff covered in day one.

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Intro to Rails - Judd
          %p Our first look at a Rails app, how they are structured.
          /generate a new app, walk through of the files, explain it's a frame work
          /slides show

    %table.schedule
      %tr
        %th.day{ colspan: 2 } Day Two

      %tr
        %th 9:00 - 9:15
        %td
          %h1 Coffee, Breakfast, Registration
          %p We will be meeting downstairs at the Beat House for coffee and breakfast and hopefully to wake up.

      %tr
        %th 9:15 - 9:45
        %td
          %h1 Refresher - Jeremy
          %p It's still early, lets get a quick recap of what we covered the day before.

      %tr
        %th 9:45 - 10:30
        %td
          %h1 App generation - Bob
          %p We're going to start creating a out TODO application.
          /get everyone and running on rails

      %tr
        %th 10:30 - 10:45
        %td
          %h1 Break
          %p Use the potty or get coffee


      %tr
        %th 10:45 - 1:00
        %td
          %h1 Building the TODO app  - Bob
          %p We'll take you though the process of adding a shiny logo to your new app and start creating the necessary components.
          /create welcome page
          /add logo
          /scaffolding - TODO model
          /add TODO
          /twitter bootstrap
          /validations
          /notes model
          /notes association

      %tr
        %th 1:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat House is open for lunch as well as many other great restaurants in the downtown area.

      %tr
        %th 2:00 - 5:00
        %td
          %h1 Finishing the TODO app - Jeremy
          %p Here we'll add user accounts so other can log in and use our fancy app.

          /user model
          /authentication
          /pagination
          /gravitar for user image (helper method)


      %tr
        %th 5:00 - 6:00
        %td
          %h1 Deploying - Wrap up
          %p If it's not live on the web, no one can use it. We'll show you how easy deploying your rails app is and why you won't need a background in systems administration.
.row
  .tencol.last
    #rubygroup
      %h2 Brought to you by the Las Vegas Ruby Group (@LVRUG)
      = link_to(image_tag("/assets/lvrug_logo_2012.png", class: "logo"), "http://www.meetup.com/las-vegas-ruby-on-rails")
      %p This event will primary be taught by Jeremy Woertink and Bob Firestone, both active members of @LVRUG.

      %p The Las Vegas Ruby Group is place to learn and share knowledge of Ruby, the  Rails framework and related technologies in Las Vegas. We cover several different languages and tend to focus on web applications and ruby.

      <a name="volunteers"></a>

      %h3 Jeremy Woertink
      = image_tag("/assets/rubygroup/jeremy.jpg", class: "photo")
      %p #{link_to("@jeremywoertink", "http://twitter.com/jeremywoertink")}
      %p One of the most vocal and friendly members of the group, Jeremy is known for digging into cutting edge technology and pushing the limits. He's been building a 3D video game in Ruby using JRuby and loves sharing what he learns with others. Jeremy also has a great sense of humor which often seeps into his presentations for the group. If you recognize Jeremy it's because you've seen him interviewing people on his show #{link_to("loveadvice.tv", "http://loveadvice.tv")}.

      %h3 Bob Firestone
      = image_tag("/assets/rubygroup/bob.jpg", class: "photo")
      %p #{link_to("@bobfirestone", "http://twitter.com/bobfirestone")}
      %p Bob joined the Las Vegas Ruby Group knowing nothing about Ruby. Now he's building web applications, presenting to the group and teaching others what he's learned. He's not afraid to express his mind and serves as the CCO of #{link_to("MainStreetChamber", "http://mainstreetchamber.org/")}. Bob loves cars and can talk it up with everyone from grease monkeys to code monkeys.

      %h3 Judd Lillestrand
      = image_tag("/assets/rubygroup/judd.jpg", class: "photo")
      %p #{link_to("@JuddLillestrand", "http://twitter.com/JuddLillestrand")}
      %p After learning to code in his spare time, Judd wanted a community in Las Vegas to ask Ruby related questions. So he started the Las Vegas Ruby Group. He's gone from zero development skills to launching #{link_to("ScripSmart.com", "http://scripsmart.com")}. Judd has fostered the Las Vegas Ruby Group into one of the most successful user groups in the Las Vegas Tech Community.



      %h3 Russ Smith
      = image_tag("/assets/rubygroup/russ.jpg", class: "photo")
      %p #{link_to("@cloudsplitter", "http://twitter.com/cloudsplitter")}
      %p Russ knows Rails inside-out, including popular gems. He loves to dive into new technology in order to get the job done right. Russ has been writing code professionally for 10 years, has strong design background and is a frequent contributor to open source projects including #{link_to("Lacquer", "https://github.com/russ/lacquer")}.

      %h3 Mike Ball - Tech Support
      %p #{link_to("@mhball", "http://twitter.com/mhball")}

      %p A tech junkie, he's a .NET developer who comes to the Las Vegas Ruby Meetup to get his fix. Mike helped out at the first Ruby Weekend and he's ready to give back again. He's is a huge developer advocate: just ask him. Mike's our "Windows Guy".


      %h3 Dylan Simpson - Tech Support
      = image_tag("/assets/rubygroup/dylan_simpson.png", class: "photo")
      %p #{link_to("@dylansimpson", "http://twitter.com/dylansimpson")}

      %p Dylan was at the first Ruby Weekend and he's already giving back. A rather talkative guy, he has an uncanny ability to remember facts and details. When Snopes.com needs to check a crazy fact, they call Dylan.

      %h3 Fred Guest - Tech Support
      = image_tag("/assets/rubygroup/fred_guest.jpg", class: "photo")
      %p #{link_to("@fredguest", "http://twitter.com/fredguest")}

      %p Fred was also at the first Ruby Weekend and has quickly been building his knowledge of the Rails framework. If you've been to a #VegasTech event, you've likely met Fred. A straight shooter, Fred has been regularly attending Las Vegas Ruby Group events.

      %h3 Don Cramer - Tech Support
      = image_tag("/assets/rubygroup/don_cramer.jpg", class: "photo")
      %p #{link_to("@scuderialv", "http://twitter.com/scuderialv")}

      %p Don was also at the first Ruby Weekend. He's the man behind Rocket36 Website Design & Application Dev Studio. Don was an integral part of the Ruby Weekend Dry: he drove Bob nuts and brought and old PC to ensure we'd have out bases covered.


      %h3 Jason Arhart - Out of Town :(
      = image_tag("/assets/rubygroup/jason.jpg", class: "photo")
      %p #{link_to("@jarhart", "http://twitter.com/jarhart")}

      %p Jason can't make this Ruby Weekend, but was an important part of making both the first and second ones happen.

      / %p Jason loves programing; he learns new languages for fun (seriously). At last count, he was familiar with 15 languages and loves Ruby for it's simplicity. You'll know Jason is on a roll when he's rubbing his hands together in front of this computer. Jason's been programming professionally for 19 years and working with Ruby for 10 years. In October of 2011 Jason joined the team at #{link_to("Originate", "http://www.originate.com/")}, Inc. to be their first engineer in Las Vegas.


    / - unless Registration.full?
    /   = link_to(@registration_url, class: "register") do
    /     %h1 Register Today
    /     %p="Only #{20 - Registration.ruby_weekend_2.size} seats remain!"
    / - else
    /   = link_to(new_waitlist_path,  class: "register") do
    /     %h1 We're almost ready. :)
    /     %p Sign up for our notification list and we'll send you an email when the workshop opens for registration.
