.row
  .twocol
  
  
    %h1 What

  .eightcol.last
    = image_tag("/assets/lvrubylogo.png", align: "right")
        

    %ul
      %li Have a great idea?
      %li Found yourself in need of a technical cofounder?
      %li Been burned by a developer who's over promised and under delivered?
      %li Want to know what it takes to build an app?
      
      %h2 Then Ruby Weekend Is For You!
      
      %p Ruby Weekend is an intensive two day event where we'll take 20 people who have no or very little software development experience and walk them through building a web application. At the end of the weekend you'll have the tools to take the next step towards building your idea.
    
    %h2 How much?
    %ul
      %li $50
      %li One weekend
      %li Includes a membership to /usr/lib, if you don't already have one. ($25 value)
      
    %h2 Prerequisites 
    %p While you don't need programming experience, you should have:
    %ul
      %li Basic computer knowledge 
      %li A modern laptop (I.e. 2GB RAM, 4GB hard drive space, WIFI enabled)
    %p== Brought to you the #{link_to("Las Vegas Ruby Group", "http://www.meetup.com/las-vegas-ruby-on-rails")}.
    / %h2= link_to("Register Now", @registration_url)

.row
  .twocol
    %h1 When

  .eightcol.last
    %h1.date January 28th/29th 2012

.row
  .twocol
    %h1 Where

  #venue.eightcol.last
    %p
      = link_to(image_tag("/assets/venue/1_thumb.jpg", class: "photo"), "/assets/venue/1.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/2_thumb.jpg", class: "photo"), "/assets/venue/2.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/3_thumb.jpg", class: "photo"), "/assets/venue/3.jpg", rel: "facebox")
      = link_to(image_tag("/assets/venue/4_thumb.jpg", class: "photo"), "/assets/venue/4.jpg", rel: "facebox")
    %p.small Photos courtesy of Mike R. Manzano
    %p
      = image_tag("/assets/usrliblogo.png", align: "right")
      \/usr/lib is a community technology library, coworking hangout and meetup venue located in downtown Las Vegas on the second floor of the Emergency Arts building.

    %br

    %p
      520 E. Fremont St., Second Floor<br>
      Las Vegas, NV 89101<br>
      (702) 518-0098<br>
      %br
      %a{ href: "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=520+E.+Fremont+St.+las+vegas&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=49.891082,93.076172&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=520+Fremont+St,+Las+Vegas,+Clark,+Nevada+89101&amp;t=m&amp;z=14&amp;ll=36.168962,-115.139697" } View Venue on Google Maps

.row
  .twocol
    %h1 How

  .eightcol.last
    %table.schedule
      %tr
        %th.day{ colspan: 2 } Day One

      %tr
        %th 8:00 - 9:00
        %td
          %h1 Coffee, Breakfast, Registration
          %p We will be meeting downstairs at the Beat House for coffee and breakfast and hopefully to wake up.

      %tr
        %th 9:00 - 9:30
        %td
          %h1 What is Ruby and Rails?
          %p Find out why large companies like Twitter, Groupon, LivingSocial and Hulu are using Ruby and Rails.

      %tr
        %th 9:30 - 10:30
        %td
          %h1 Getting Started (Setup)
          %p Here we will make sure everyones machine is ready to start developing their first Ruby application.
      %tr
        %th 10:30 - 12:00
        %td
          %h1 Intro to Programing (First Taste)
          %p We'll establish the building blocks for creating applications that actually do something useful.

      %tr
        %th 12:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat is open for lunch as well as many other great restaurants in the downtown area. The team will also be available for questions during these two hours.

      %tr
        %th 2:00 - 3:30
        %td
          %h1 Intro to Programing (Second Helping)
          %p Using the building blocks established in part one, we'll introduce more advance concepts and build an even cooler app!

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Recap + Q &amp; A
          %p The crew wll be available to answer any questions you may have that were not answered during the class.

    %table.schedule
      %tr
        %th.day{ colspan: 2 } Day One

      %tr
        %th 8:00 - 9:00
        %td
          %h1 Coffee and Breakfast
          %p Same as before,  we'll meet downstairs at The Beat for coffee and breakfast.

      %tr
        %th 9:00 - 9:30
        %td
          %h1 Refresher
          %p It's still early, lets get a quick recap of what we covered the day before.

      %tr
        %th 9:30 - 10:00
        %td
          %h1 Alphabet Soup Of The Web
          %p If you're going to build a web app, you're going to need to know how it all works.
        
      %tr
        %th 10:00 - 10:30
        %td
          %h1 How Ruby on Rails Fits In
          %p Find out why the Ruby on Rails framework helps developers build applications quickly and enforces best practices.

      %tr
        %th 10:30 - 12:00
        %td
          %h1 Application Generation
          %p Getting started with a Rails application couldn't be easier. Here we learn how to start one and what options we have available.

      %tr
        %th 12:00 - 2:00
        %td
          %h1 Lunch Break
          %p The Beat House is open for lunch as well as many other great restaurants in the downtown area.

      %tr
        %th 2:00 - 5:00
        %td
          %h1 Building the Application
          %p We really get our hands dirty here and build our application from the ground up.

      %tr
        %th 5:00 - 6:00
        %td
          %h1 Q &amp; A
          %p The crew wll be available to answer any questions you may have that were not answered during the class.
