.row
  .tencol.last
    #rubygroup
      %h1 More resources to help you learn Ruby and Rails

      %p After Ruby Weekend, you'll have a better understanding of how web applications are built. However, there is still going to be plenty to learn. Here are a few great resources to help you along the way.

      %h2 Great Websites

      %h3 #{link_to("The Las Vegas Ruby Group", "http://www.meetup.com/las-vegas-ruby-on-rails/members/")}
      = link_to(image_tag("/assets/lvrubylogo.png", class: "logo"), "http://www.meetup.com/las-vegas-ruby-on-rails")
      %p The place to learn and share Ruby related knowledge. We meet once a week and alternate between a formal meetup with presentations and an agenda and a casual hack night where projects of all languages are welcome.

      %p #{link_to("http://www.meetup.com/las-vegas-ruby-on-rails/members/", "http://www.meetup.com/las-vegas-ruby-on-rails/members/")}

      %h3 #{link_to("Railscasts", "http://railscasts.com")}
      %p Free and paid ruby on rails screen casts. Ryan Bates has been producing content for Rails developers for several years and is one of the best at teaching concepts. This website is a staple in the rails community.

      %p #{link_to("http://railscasts.com", "http://railscasts.com")}


      %h3 #{link_to("Jumpstart Labs Tutorials", "http://tutorials.jumpstartlab.com/")}
      %p Jeff Casmir is an expert trainer for Ruby and Rails. He's currently helping LivingSocial grow thier development team with #{link_to("Hungary Academy", "http://hungryacademy.com/")}. Jeff is also a member of the Las Vegas Ruby Group and visits several times a year from DC.

      %p #{link_to("http://tutorials.jumpstartlab.com/", "http://tutorials.jumpstartlab.com/")}



      %h3 #{link_to("Try Ruby", "http://tryruby.org/levels/1/challenges/0")}
      %p Need a refresher on the Ruby syntax? This is a great interactive tutorial which doesn't require you to install anything locally.

      %p #{link_to("http://tryruby.org/levels/1/challenges/0", "http://tryruby.org/levels/1/challenges/0")}

      %h3 #{link_to("Rails Tutorial", "http://ruby.railstutorial.org/")}
      %p Michael Hartl has put together a great resource for learning rails and it's definitely worth a look.

      %p #{link_to("http://ruby.railstutorial.org/", "http://ruby.railstutorial.org/")}

      %h3 #{link_to("Rails for Zombies", "http://railsforzombies.org/")}
      %p A fun approach to learning the basics of rails.

      %p #{link_to("http://railsforzombies.org/", "http://railsforzombies.org/")}

      %h3 #{link_to("Code School", "http://www.codeschool.com/courses")}
      %p Lots of great material here. From jQuery to Rails Best Practices. Some are free, some require payment.

      %p #{link_to("http://www.codeschool.com/courses", "http://www.codeschool.com/courses")}

      %h2 Great Books

      %p usr/lib has an excellent collection of books for learning Ruby and Rails. Here are a few to get you started.

      = link_to(image_tag("/assets/usrlib_logo.png", class: "logo"), "http://www.usrlib.org")

      %h3 #{link_to("Programming Ruby 1.9: The Pragmatic Programmers' Guide ", "http://usrlib.org/media/215")}

      %h3 #{link_to("Agile Web Development with Rails", "http://usrlib.org/media/496")}

      %h3 #{link_to("The Passionate Programmer", "http://usrlib.org/media/78")}

      %h3 #{link_to("Crafting Rails Applications", "http://usrlib.org/media/507")}
            
      %h3 #{link_to("The Rails 3 Way", "http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321601661/ref=sr_1_2?s=books&ie=UTF8&qid=1327720271&sr=1-2")}















      
      
      