.row
  .tencol.last
    #rubygroup
      %h1 More resources to help you learn Ruby and Rails

      %p After Ruby Weekend, you'll have a better understanding of how web applications are built. However, there is still going to be plenty to learn. Here are a few great resources to help you along the way.
      = link_to(image_tag("/assets/lvrug_logo_2012.png", class: "logo"), "http://www.meetup.com/las-vegas-ruby-on-rails", target: :blank)

      %h2 #{link_to("The Las Vegas Ruby User Group", "http://www.meetup.com/las-vegas-ruby-on-rails/members/", target: :blank)}
      %p The place to learn and share Ruby related knowledge in Las Vegas. We meet once a week and alternate between a formal meetup with presentations and a casual hack night where projects of all languages are welcome. This is a great resource for those living in Las Vegas and we'd love to see you there!

      %p Learn more by visiting #{link_to("Our Meetup Page", "http://www.meetup.com/las-vegas-ruby-on-rails/", target: :blank)} and follow us on twitter: #{link_to("@lvrug", "http://twitter.com/lvrug", target: :blank)}

      %h1 Documentation

      %p These are the straight docs for referencing all the details of Ruby and Rails. They might be a bit overwhelming at first, but you should know they exists.

      %p #{link_to("Ruby Core Documentation", "http://ruby-doc.org/core-1.9.3/", target: :blank)}
      %p #{link_to("Ruby Stdlib Documentation", "http://ruby-doc.org/stdlib-1.9.3/", target: :blank)}
      %p #{link_to("Rails Documentation", "http://api.rubyonrails.org/", target: :blank)}

      %h1 Great Websites

      %h3 #{link_to("Code School", "http://www.codeschool.com/courses")}
      %p Lots of great material here. From HTML to Rails: both paid and free materal for learning. 

      %p #{link_to("Specail Code School Offer For Ruby Weekend - $9 First Month", "http://go.codeschool.com/ZaDc0g", class: "register", target: :new)}

      %h3 #{link_to("Railscasts", "http://railscasts.com", target: :blank)}
      %p Free and paid ($9) ruby on rails screen casts. Ryan Bates has been producing content for Rails developers for several years and he's really good at teaching. This website is a staple in the rails community. You should subscribe. :)

      %p #{link_to("http://railscasts.com", "http://railscasts.com", target: :blank)}

      %h3 #{link_to("Try Ruby", "http://tryruby.org/levels/1/challenges/0", target: :blank)}
      %p Need a refresher on the Ruby syntax? This is a great interactive tutorial which doesn't require you to install anything locally.

      %p #{link_to("http://tryruby.org/levels/1/challenges/0", "http://tryruby.org/levels/1/challenges/0", target: :blank)}

      %h3 #{link_to("Rails Tutorial", "http://ruby.railstutorial.org/", target: :blank)}
      %p Michael Hartl has put together a great resource for learning rails and it's definitely worth a look.

      %p #{link_to("http://ruby.railstutorial.org/", "http://ruby.railstutorial.org/", target: :blank)}

      %h3 #{link_to("Rails for Zombies", "http://railsforzombies.org/", target: :blank)}
      %p A fun approach to learning the basics of rails.

      %p #{link_to("http://railsforzombies.org/", "http://railsforzombies.org/")}

      %h1 Great Books

      %p usr/lib has an excellent collection of books for learning Ruby and Rails. Here are a few to get you started.

      = link_to(image_tag("/assets/usrlib_logo.png", class: "logo"), "http://www.usrlib.org")

      %h3 #{link_to("Learn to Program, Second Edition (The Facets of Ruby Series)", "http://usrlib.org/media/502")}

      %h3 #{link_to("Programming Ruby 1.9: The Pragmatic Programmers' Guide ", "http://usrlib.org/media/215")}

      %h3 #{link_to("Agile Web Development with Rails", "http://usrlib.org/media/496")}

      %h3 #{link_to("The Passionate Programmer", "http://usrlib.org/media/78")}

      %h3 #{link_to("Crafting Rails Applications", "http://usrlib.org/media/507")}

      %h3 #{link_to("The Rails 3 Way", "http://www.amazon.com/Rails-Way-Addison-Wesley-Professional-Ruby/dp/0321601661/ref=sr_1_2?s=books&ie=UTF8&qid=1327720271&sr=1-2")}

      %h1 Other Resources

      %p In order to build great web apps, you need to know more than just Ruby and the Rails framework. Here are some additional resources.

      %h3 #{link_to("HTML Tutorail", "http://w3schools.com/html/default.asp")}

      %h3 #{link_to("CSS Tutorail", "http://www.w3schools.com/css/default.asp")}

      %h3 #{link_to("Git Version Control", "http://progit.org/")}

      %h3 #{link_to("Treehouse", "http://teamtreehouse.com/")}

      %h3 #{link_to("dochub", "http://dochub.io/#css/")}
























