!!!
%html
  %head
    %title Las Vegas Ruby Rails Workshop - Ruby Weekend
    = stylesheet_link_tag(:application)
    = javascript_include_tag(:application)
    = csrf_meta_tags

  %body
    .container
      #header
        .row
          .fivecol
            = link_to(image_tag("logo_gray.png"), root_path)

          #date.fivecol
            %h1 May 17th/19th 2013
            /May 19th/20th 2012
      #content
        %h1= link_to('Pizza Wedgie', 'http://wedg.me/14BB1Ee', class: "register")
        = yield

      #footer
        .row
          .tencol.last
            %p
            &copy; 2012
            =link_to("Las Vegas Ruby Group", "http://www.meetup.com/las-vegas-ruby-on-rails")
            |
            =#link_to("Join Now", "http://www.meetup.com/las-vegas-ruby-on-rails/join/")
            =link_to('View Refund Policy', refund_policy_path, :target => 'new')
            |
            =# link_to("Learning Resources", resources_path)
            = link_to("@rubyweekend", "http://twitter.com/rubyweekend")
            |
            = link_to('Learning Resources', resources_path)
          
            / = link_to('Survey', survey_path, :class => 'red')




    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11575163-7']);
      _gaq.push(['_setDomainName', 'none']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
