!!!
%html
  %head
    %title Las Vegas Ruby Conference - Ruby Weekend
    = stylesheet_link_tag(:application)
    = javascript_include_tag(:application)
    = csrf_meta_tags

  %body
    .container
      #header
        .row
          .fivecol
            = link_to(image_tag("logo.png"), root_path)

          #date.fivecol
            %h1 January 28th/29th 2012

      #content
        = yield

      #footer
        .row
          .twocol
          .eightcol.last
            %p
              == &copy; 2011 Las Vegas Ruby Group #{link_to("meetup.com/las-vegas-ruby-on-rails", "http://www.meetup.com/las-vegas-ruby-on-rails")}
              = link_to("@rubyweekend", "http://twitter.com/rubyweekend")

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-11575163-7']);
      _gaq.push(['_setDomainName', '.rubyweekend.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
